
.layout_container {
    padding: 1em;

}

.title {
    margin-left: 1em;
    font-size: 40px;
  }

.layout_card {
    padding: 1em;
    border: 1px solid #fefefe;
    color: #fff;
    background-color: rgb(22, 47, 54);
}
.project_card {
    padding: 1em;
    border: 1px solid #fefefe;
    color: #e0b779;
    background-color: #3d3d3d;
}

.project_title {
    font-size: 29px;
    background-color: #222;
    color: #ffbb66;
}

.project_title p span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text span{
    display: block;
    width: 12px;
    height: 12px;
    font-size: 22px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.category_text .infra {
    background-color: black;
}

.category_text .desenvolvimento {
    background-color: blue;
}

.category_text .design {
    background-color: chartreuse;
}

.category_text .planejamento {
    background-color: coral;
}

.project_card_actions {
    margin: 1.2em;
    display: flex;
    align-items: center;
}

.project_card_actions a {
    text-decoration: none;
    border: 1px solid #222;
    background-color: #d4b5b5;
    color: black;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
} 

.project_card_actions svg {
    margin-right: 0.5em;
}

.project_card_actions a:hover {
    background-color: #222;
    color: #ffbb33;
}





